[access]
	inheritFrom = All-Projects
[submit]
[access "refs/*"]
	owner = group user/Jelena811
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/Jelena811
	label-Verified = -1..+1 group user/Jelena811
	push = group user/Jelena811
	read = group user/Jelena811
	rebase = group user/Jelena811
	removeReviewer = group user/Jelena811
	submit = group user/Jelena811
[access "refs/heads/*"]
	create = group user/Jelena811
	push = +force group user/Jelena811
	pushMerge = group user/Jelena811
	read = group user/Jelena811
[access "refs/tags/*"]
	push = group user/Jelena811
	push = +force group user/Jelena811
